---
layout: default
---
<div id="container">
<div id="grid" data-columns class="cols">

    {% for post in site.posts %}
    <div class="box" style="background-color:#{{post.color}}">
        <!-- page.img 和 page.banner 取其一就行，img是取本地路径，banne是取远程地址 -->
       {% if post.img %}
          <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
       {% endif %}
       {% if post.banner %}
          <img class="feat-image" src="{{post.banner}}" alt="{{post.title}}">
       {% endif %}
          <div class="container">
            <h3>{{post.title}}</h3>
            <p>{{post.description}}</p>
             <div class="action" onclick="location='{{post.url | prepend: site.baseurl}}'">{{ post.date | date: '%B %d, %Y' }}<a href="{{post.url | prepend: site.baseurl}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div> 
        </div>     
    </div>
   {% endfor %}

</div>
</div>

<script src="{{site.baseurl}}/js/salvattore.min.js"></script>